<body>

<%= render 'shared/show_flashes' %>
<div class="row">
  <div class="inner-wrap">
    <nav class="top-bar show-for-medium-up" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Entendendo o projeto Espelho Político</a></h1>
        </li>
      </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
    </section>
    </nav>
  </div>
</div>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar show-for-small">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title">Espelho Político</h1>
      </section>
      <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      <ul class="off-canvas-list">
        <li><a href="#"><li class="active"><a target="_blank"><%= link_to 'Início', root_url %></a></li></a></li>
        <li><a href="#"><li class="active"><a target="_blank"><%= link_to 'Perfil Parlamentar', parliamentarians_path %></a></li></a></li>
        <li><a href="#"><li class="active"><a target="_blank"><%= link_to 'Rankings', rankings_path %></a></li></a></li>
        <li><a href="#"><li class="active"><a target="_blank"><%= link_to 'Quiz', quiz_index_path %></a></li></a></li>
        <li><a href="#"><li class="active"><a target="_blank">Sobre</a></li></a></li>
      </ul>
    </nav>
    <section class="main-section">
      <div class="row">
        <div class="large-12 columns">
        </div>
      </div>
    </section>
    <a class="exit-off-canvas"></a>
  </div>
</div>
  <script src='http://assets.codepen.io/assets/libs/fullpage/jquery-ab8e840c3dad7ccf2deadb8c40d53bdb.js'></script>
  <script src='http://cdn.foundation5.zurb.com/foundation.js'></script>

  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage('resize', "*");
    }
  </script>

  <script>
    $(document).foundation();
    //@ sourceURL=pen.js
  </script>

</body>
</html>
